.navbar-custom {
    background: #1E2235;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

header {
    text-align: center;
    background: black;
    color: #BDBDBD;
}

html,
body {
    background: #1E2235;
    height: 35%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    color: white;
}

.footer,
.push {
    height: 5px;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
}