.navbar-custom {
    background: #1E2235;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

header {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    background: #ECE9EA;
    background-size: 100%;
    bottom: 0;
    color: #1E2235;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
}

html,
body {
    background: #1E2235;
    height: 35%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    color: white;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    background: url(css/fundo45.jpg) no-repeat;
    background-size: cover;
}

.footer,
.push {
    height: 5px;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
}