.navbar-custom {
    background: #1E2235;
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
}

header {
    text-align: center;
<<<<<<< HEAD
    background: black;
    color: white;
=======
    background: #A4A4A4;
    color: #1E2235;
    font-family: "Avantgarde", Helvetica, Arial, sans-serif;
>>>>>>> ea90b098c996fac77bcc3d29dad4e173b4dea60c
}

html,
body {
    background: #1E2235;
    height: 35%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
    color: white;
}

.footer,
.push {
    height: 5px;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2') format('woff2'), url('../fonts/fontawesome-webfont.woff') format('woff'), url('../fonts/fontawesome-webfont.ttf') format('truetype');
}

hr.star-light:after {
    background-color: #2C3E50;
    color: yellow;
}

hr.star-light,
hr.star-primary {
    padding: 0;
    border: none;
    border-top: solid 5px;
    text-align: center;
    max-width: 250px;
    margin: 25px auto 30px;
}

hr.star-light:after,
hr.star-primary:after {
    content: "\f005";
    font-family: FontAwesome;
    display: inline-block;
    position: relative;
    top: -0.8em;
    font-size: 2em;
    padding: 0 0.25em;
}

hr.star-light {
    border-color: white;
}

hr.star-primary {
    border-color: #2C3E50;
}

hr.star-primary:after {
    background-color: white;
    color: #2C3E50;
}